---
import ApplicationSection from '../components/ApplicationSection.astro';
import DivisionSplit from '../components/DivisionSplit.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Hero from '../components/Hero.astro';
import HomeExperience from '../components/HomeExperience.astro';
import ImpactTracker from '../components/ImpactTracker.astro';
import OpportunitiesStream from '../components/OpportunitiesStream.astro';
import PhilosophyReveal from '../components/PhilosophyReveal.astro';
import TestimonialsStack from '../components/TestimonialsStack.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <main>
    <Hero />
    <PhilosophyReveal />
    <DivisionSplit />
    <ImpactTracker />
    <OpportunitiesStream />
    <TestimonialsStack />
    <ApplicationSection />
    <FinalCTA />
  </main>
  <HomeExperience />
</BaseLayout>
